.colors
.color1 {color: #000013;}
.color2 {color: #002846;}
.color3 {color: #005285;}
.color4 {color: #0083cd;}
.color5 {color: #00bbff;} 



header {
    width: 100%;
    height: 100px;
}

main {
    width: 100%;
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}
.page {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  .movies {
    display: grid;
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 32px;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr)) !important;
    justify-items: center; 
    align-items: center; 
  }
  

  .poster-page {
    position: relative;
    margin: 15px;
    width: 250px;
    height: 385px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px!important;
    overflow: hidden;
  }
  
  .poster-page img {
    width: 100%; /* Ajustamos el ancho al 100% del contenedor */
    height: 100%; /* Ajustamos el alto al 100% del contenedor */
    object-fit: cover; /* Mantenemos la relación de aspecto original y cubrimos el contenedor */
  }
  
  .poster-page span {
    color: #ffffff;
    font-weight: bold;
    position: absolute;
    margin: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;
    background: url(../img/mask-title.png) top repeat-x;
  }
  

  
  