 :root {
  --background-body: #000013;
  --background: #000013;
  --text-bright: #0083cd;
  --form-text: #fff;
}


body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Segoe UI Emoji', 'Apple Color Emoji', 'Noto Color Emoji', sans-serif;
  line-height: 1.4;
  max-width: 100%;
  margin: 0;
  word-wrap: break-word;
  color: #dbdbdb;
  color: var(--text-main);
  background: #202b38;
  background: var(--background-body);
  text-rendering: optimizeLegibility;
}




h1 {
  font-size: 2.2em;
  margin-top: 0;
}

h1{
  margin-bottom: 12px;
  margin-top: 24px;
}


h1 {
  color: #0083cd;
  color: var(--text-bright);
}

button
{
  cursor: pointer;
}




input {
  color: #fff;
  color: var(--form-text);
  background-color: #161f27;
  background-color: var(--background);
  font-family: inherit;
  font-size: inherit;
  margin-right: 6px;
  margin-bottom: 6px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  outline: none;
}

button {
  color: #fff;
  color: var(--form-text);
  background-color: #161f27;
  background-color: var(--background);
  font-family: inherit;
  font-size: inherit;
  margin-right: 6px;
  margin-bottom: 6px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  outline: none;
}

